extends layout

block content
	include partials/sign-nav
	
	.container

		include partials/alert

		div(class="center")
				form(action="/sign-up" method="POST")

					.form-group()
						label(for="email")= __('Email')
						input(type="email" name="email" class="form-control" placeholder="#{__('Email')}" required)

					.form-group()
						label(for="first_name")= __('First Name')
						input(type="text" name="first_name" class="form-control" placeholder="#{__('First Name')}" required)

					.form-group()
						label(for="first_name")= __('Last Name')
						input(type="text" name="last_name" class="form-control" placeholder="#{__('Last Name')}" required)

					.form-group()
						label(for="password")= __('Password')
						input(type="password" name="password" class="form-control" placeholder="#{__('Password')}" required)

					button(type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid")= __('Send')